# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
pubspec.lock

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

app_logs.txt

# Archivos específicos de Windows
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.*
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake

# Archivos específicos de macOS
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/xcuserdata/

# Archivos específicos de Linux
**/linux/flutter/ephemeral/
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake

# Firebase
**/android/google-services.json
**/ios/GoogleService-Info.plist
**/macos/Runner/GoogleService-Info.plist
# /lib/firebase_options.dart

# Archivos de configuracion de entorno
**/.env
**/.env.*
